@{
    ViewData["Title"] = "Domača stran";
}

<div class="text-center">
    <h1 class="display-4">Pozdravljeni na forumu IS</h1>
    <div>
        <p>
            Forum omogoča dodajanje in pregledovanje objav.
        </p>
        <hr>
        <p>
            Za pregled in objavo se morate najprej prijaviti.
        </p>
    </div>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 *@</div>
